; Django secret key
SECRET_KEY=

; адрес почты (gmail) и пароль для отправки рассылок
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

; Включить / выключить кеширование. (True / False)
CACHE_ENABLED=

; Настройки базы данных
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

; Настройки бота
BOT_API=
BOT_API_KEY=
CHAT_ID=
